Repository zhangjunjunah/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: fix import wrap style (#261)
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: fix site style and enhance user experience (#262)
  .dumi/hooks/useLottie.ts
  .dumi/pages/index/common/Container.tsx
  .dumi/pages/index/components/DesignGuide.tsx
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/pages/index/components/SceneIntroduction/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumirc.ts
  docs/playground/independent.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: Conversations style by RICH. (#242)
  bun.lockb
  components/conversations/GroupTitle.tsx
  components/conversations/Item.tsx
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/demo/basic.tsx
  components/conversations/demo/controlled-mode.tsx
  components/conversations/demo/group-sort.md
  components/conversations/demo/group-sort.tsx
  components/conversations/demo/group.tsx
  components/conversations/demo/infinite-load.tsx
  components/conversations/demo/with-menu.tsx
  components/conversations/index.en-US.md
  components/conversations/index.tsx
  components/conversations/index.zh-CN.md
  components/conversations/style/index.ts
  docs/playground/independent.tsx
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: semantic html element for import statement (#263)
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: refactor mobile style (#264)
  .dumi/pages/index/components/SceneIntroduction/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: enhance attached file display (#250)
  docs/playground/independent.tsx
Due: biome check --write --no-errors-on-unmatched

docs: optimize attachment display and TS types, optimize controlled Sender (#265)
  docs/playground/independent.tsx
Due: biome check --write --no-errors-on-unmatched

docs: standardize the Tools group title (#270)
  components/x-provider/index.en-US.md
  components/x-stream/index.en-US.md
Due: prettier --ignore-unknown --write

refactor: make the agent parameter optional to support data management functionality using only useXChat (#271)
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.ts
  components/useXChat/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

refactor: optimize the TS of SSEOutput and RequestFnInfo (#272)
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/useXChat/demo/suggestions.tsx
  components/x-stream/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: update README.md and model use docs (#275)
  README-zh_CN.md
  README.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
  docs/react/dangerously-api-key.en-US.md
  docs/react/dangerously-api-key.zh-CN.md
  docs/react/model-use-openai.en-US.md
  docs/react/model-use-openai.zh-CN.md
  docs/react/model-use-qwen.en-US.md
  docs/react/model-use-qwen.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
  docs/react/use-with-rsbuild.en-US.md
  docs/react/use-with-rsbuild.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix playground style and enhance user experience (#277)
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/common/styles/Demo.tsx
Due: biome check --write --no-errors-on-unmatched

docs: changelog of 1.0.1 (#276)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: add GPT-Vis demo for bubble (#278)
  .dumirc.ts
  components/bubble/__tests__/demo-extend.test.ts
  components/bubble/__tests__/demo.test.ts
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

Revert "docs: add GPT-Vis demo for bubble (#278)" (#281)
  .dumirc.ts
  components/bubble/__tests__/demo-extend.test.ts
  components/bubble/__tests__/demo.test.ts
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: fix pnpm run prestart error (#287)
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched

perf: esm/cls browser targets (#282)
  .fatherrc.ts
Due: biome check --write --no-errors-on-unmatched

docs: add GPT-Vis demo for bubble (#288)
  .dumirc.ts
  components/bubble/__tests__/demo-extend.test.ts
  components/bubble/__tests__/demo.test.ts
  components/bubble/demo/gpt-vis.md
  components/bubble/demo/gpt-vis.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: where the async nature of setMessages prevents updateMessage from accessing the messages in sync (#298)
  bun.lockb
  components/useXChat/__tests__/index.test.tsx
  components/useXChat/__tests__/useSyncState.test.tsx
  components/useXChat/useSyncState.ts
Due: biome check --write --no-errors-on-unmatched

fix: Attachment scrollX bug (#295)
  components/attachments/FileList/index.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: XRequest to support custom protocols (#293)
  bun.lockb
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/index.test.tsx
  components/x-request/__tests__/x-fetch.test.tsx
  components/x-request/demo/basic.tsx
  components/x-request/demo/custom-transformer.md
  components/x-request/demo/custom-transformer.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: changelog of 1.0.2 (#302)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: Update site-deploy.yml (#307)
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

chore: add release to X github action (#308)
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

chore: resolve lint issues encountered using pnpm installation (#313)
  tests/utils.tsx
Due: biome check --write --no-errors-on-unmatched

docs: enable prefetch for dumi Link (#315)
  .dumi/pages/index/components/MainBanner.tsx
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/builtins/LocaleLink/index.tsx
  .dumi/theme/common/Link.tsx
  .dumi/theme/slots/Footer/index.tsx
  .dumirc.ts
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

refactor: Bubble style (#314)
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/debug.md
  components/bubble/demo/debug.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/style/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Improve document syntax (#331)
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: add 1px tolerance for autoScroll (#336)
  components/bubble/BubbleList.tsx
Due: biome check --write --no-errors-on-unmatched

docs: fix link (#343)
  docs/react/model-use-openai.en-US.md
  docs/spec/conversation-design.en-US.md
  docs/spec/conversation-design.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Update README.md (#357)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: Update README-zh_CN.md (#358)
  README-zh_CN.md
Due: prettier --ignore-unknown --write

docs: changelog of 1.0.3 (#361)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: fix sider border issue of documentation (#364)
  .dumi/theme/slots/Sidebar/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: fix chinamirror link (#368)
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: ThoughtChain style (#373)
  components/thought-chain/style/index.ts
Due: biome check --write --no-errors-on-unmatched

feat: add petercat assistant (#375)
  .dumi/theme/common/PeterCat.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched

feat: extend Sender onChange parameter (#362)
  components/sender/__tests__/index.test.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: replace introduce img url (#377)
  bun.lockb
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write
