Repository zhangjunjunah/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(bubble): add typing suffix support (#316) (#380)
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/typing.tsx
  components/bubble/hooks/useTypingConfig.ts
  components/bubble/interface.ts
Due: biome check --write --no-errors-on-unmatched

docs: Update README.md (#389)
  README.md
Due: prettier --ignore-unknown --write

feat: XStream support cancel (#319)
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/demo/stream-cancel.md
  components/useXChat/demo/stream-cancel.tsx
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

refactor: code semantics (#391)
  bun.lockb
  components/bubble/Bubble.tsx
Due: biome check --write --no-errors-on-unmatched

docs: update img link (#395)
  docs/spec/intention-introduce.en-US.md
  docs/spec/intention-introduce.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: delete repetitive style import (#394)
  .dumi/theme/common/PeterCat.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

feat: Sender support focus. (#397)
  components/_util/__tests__/hooks.test.tsx
  components/_util/hooks/use-proxy-imperative-handle.ts
  components/attachments/demo/with-sender.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/demo/focus.md
  components/sender/demo/focus.tsx
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: add DingTalk Release Notification (#401)
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

chore: update release notice banner (#405)
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

docs: changelog of 1.0.4 (#392)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: use png replace webp (#406)
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

fix: run dev error, require non-existent file (#404)
  index.js
Due: biome check --write --no-errors-on-unmatched

chore: Update dependabot.yml (#415)
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Revert "chore(deps-dev): bump react from 18.3.1 to 19.0.0 (#424)" (#433)
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

fix: version select style (#414)
  .dumi/theme/slots/Header/Actions.tsx
Due: biome check --write --no-errors-on-unmatched

fix: site page crash error (#444)
  bun.lockb
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs(attachments): fix description of overflow demo (#448)
  components/attachments/demo/overflow.md
Due: prettier --ignore-unknown --write

fix: petercat style (#446)
  .dumi/theme/common/PeterCat.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: type BubbleProps support ContentType type argument(#403)
  components/bubble/Bubble.tsx
  components/bubble/interface.ts
Due: biome check --write --no-errors-on-unmatched

docs: translate title (#456)
  components/x-request/index.zh-CN.md
  components/x-stream/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Attachment remove icon style (#460)
  components/attachments/style/fileCard.ts
Due: biome check --write --no-errors-on-unmatched

docs(x-request): use splitter for demo (#457)
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/demo/basic.tsx
  components/x-request/demo/custom-transformer.tsx
Due: biome check --write --no-errors-on-unmatched

chore: 添加 md-editor 自定义渲染示例和文档
  components/bubble/demo/stream_markdown.md
  components/bubble/demo/stream_markdown.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: 调整 Bubble 组件的 typing 属性配置
  components/bubble/demo/stream_markdown.tsx
Due: biome check --write --no-errors-on-unmatched

fix: 移除 RenderMarkdown 组件中的调试日志
  components/bubble/demo/stream_markdown.tsx
Due: biome check --write --no-errors-on-unmatched

test: 更新快照以添加 radio 输入的 name 属性和调整角色属性
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: changelog of 1.0.5 (#468)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: update README.md (#473)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

refactor: refine useTypedEffect (#478)
  components/bubble/hooks/useTypedEffect.ts
Due: biome check --write --no-errors-on-unmatched

refactor: memo mergedContent
  components/bubble/Bubble.tsx
Due: biome check --write --no-errors-on-unmatched

refactor: memo avatarNode
  components/bubble/Bubble.tsx
Due: biome check --write --no-errors-on-unmatched

docs: update docsOnlineUrl (#484)
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched

docs(sender): add onPasteFile callback (#495)
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: remove useDisplayData
  components/bubble/BubbleList.tsx
  components/bubble/hooks/useDisplayData.ts
Due: biome check --write --no-errors-on-unmatched

refactor: memo bubble list item
  components/bubble/BubbleList.tsx
  components/bubble/demo/debug-list.md
  components/bubble/demo/debug-list.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Update release-x.yml (#507)
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

docs: add docs of integrate DeepSeek's model services
  docs/react/model-use-deepseek.en-US.md
  docs/react/model-use-deepseek.zh-CN.md
Due: prettier --ignore-unknown --write

chore: fix ci error (#525)
  bun.lockb
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  package.json
Due: biome check --write --no-errors-on-unmatched

fix(Attachments): fix Attachments broken image (#524)
  components/attachments/FileList/FileListCard.tsx
Due: biome check --write --no-errors-on-unmatched
