Repository zhangjunjunah/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: changelog of 1.0.0-alpha.12 (#188)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: add ref demo (#189)
  components/sender/SenderHeader.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/demo/header-fixed.md
  components/sender/demo/header-fixed.tsx
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Fill the cover & cat of overview (#192)
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/themeConfig.ts
  components/attachments/FileList/FileListCard.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/welcome/index.en-US.md
  components/welcome/index.zh-CN.md
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
  components/x-request/index.en-US.md
  components/x-request/index.zh-CN.md
  components/x-stream/index.en-US.md
  components/x-stream/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Update README-zh_CN.md (#195)
  README-zh_CN.md
Due: prettier --ignore-unknown --write

docs: update README (#196)
  .dumi/pages/index/components/CompIntroduction/Customization.tsx
  .dumi/pages/index/components/SceneIntroduction/Assistant.tsx
  .dumi/pages/index/components/SceneIntroduction/Independent.tsx
  README-zh_CN.md
  README.md
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/demo/_semantic.tsx
  components/welcome/demo/background.tsx
  components/welcome/demo/basic.tsx
  components/welcome/demo/variant.tsx
  docs/playground/independent.tsx
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Update README-zh_CN.md (#197)
  README-zh_CN.md
Due: prettier --ignore-unknown --write

docs: fix documentation contributor list (#200)
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched

docs: sync .dumi from antd (#198)
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/ComponentChangelog/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --no-errors-on-unmatched

🎉 v 1.0.0 - publish (#204)
  .dumi/hooks/useMenu.tsx
  .dumi/pages/index/components/DesignBanner.tsx
  .dumi/pages/index/components/MainBanner.tsx
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  bun.lockb
  docs/spec/hybrid-ui-design.en-US.md
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
  docs/spec/wake-up-welcome-message.en-US.md
  docs/spec/wake-up-welcome-message.zh-CN.md
  package.json
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: can not delete the first letter of Demo (#211)
  bun.lockb
  docs/playground/independent.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched

docs: update document.title to improve SEO (#210)
  .dumi/pages/404/index.tsx
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/CommonHelmet.tsx
  .dumi/theme/layouts/IndexLayout/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: fix contributors missing (#212)
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched

chore: sync gh-page
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

chore: ci sync update
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

Revert "chore(deps-dev): bump father from 4.5.1-beta.4 to 4.5.1" (#221)
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

docs: add bundlephobia badge (#215)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

chore: add @codecov/webpack-plugin (#222)
  .fatherrc.ts
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

fix: resolve ghost dependency issue for strict pnpm compatibility (#223)
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched

refactor: refactor bubble loading.tsx (#225)
  components/bubble/loading.tsx
Due: biome check --write --no-errors-on-unmatched

chore: Update README-zh_CN.md (#224)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

chore: Update site-deploy.yml (#228)
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

chore: create size-limit.yml (#227)
  .github/workflows/size-limit.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: move @ctrl/tinycolor out of dependencies (#231)
  package.json
Due: biome check --write --no-errors-on-unmatched

perf: Update browser targets (#234)
  .fatherrc.ts
Due: biome check --write --no-errors-on-unmatched

chore: remove legacy compile command
  .fatherrc.ts
  .github/workflows/site-deploy.yml
  .github/workflows/size-limit.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: delete webpack.config.js
  webpack.config.js
Due: biome check --write --no-errors-on-unmatched

chore: add circular-dependency-plugin and duplicate-package-checker-webpack-plugin
  .fatherrc.ts
Due: biome check --write --no-errors-on-unmatched

compile => dist
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

dist => compile
  .github/workflows/site-deploy.yml
  .github/workflows/size-limit.yml
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  package.json
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: new slogan (#237)
  .dumi/theme/layouts/DocLayout/index.tsx
  README-zh_CN.md
  README.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: add new Actions component
  components/actions/ActionMenu.tsx
  components/actions/index.tsx
  components/actions/interface.ts
  components/actions/style/index.ts
  components/index.ts
  components/theme/components.ts
  components/x-provider/context.ts
Due: biome check --write --no-errors-on-unmatched

test: add Actions base test case
  components/actions/__tests__/__snapshots__/demo.test.tsx.snap
  components/actions/__tests__/actionMenu.test.tsx
  components/actions/__tests__/actions.test.tsx
Due: biome check --write --no-errors-on-unmatched

docs: add Actions document
  components/actions/demo/basic.md
  components/actions/demo/basic.tsx
  components/actions/demo/sub.md
  components/actions/demo/sub.tsx
  components/actions/demo/variant.md
  components/actions/demo/variant.tsx
  components/actions/index.en-US.md
  components/actions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: add link of Next.js docs (#241)
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

chore: add logLevel for typedoc (#244)
  scripts/generate-token-meta.ts
Due: biome check --write --no-errors-on-unmatched

docs: fix the incorrect image link in the design docs. (#245) (#246)
  docs/spec/authentic-consistent.en-US.md
  docs/spec/authentic-consistent.zh-CN.md
Due: prettier --ignore-unknown --write

chore: create FUNDING.yml (#249)
  .github/FUNDING.yml
Due: prettier --ignore-unknown --write

:label: Feat: add Conversation type export
  bun.lockb
  components/bubble/demo/markdown.tsx
  components/index.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
