Repository zhangjunjunah/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore(deps): update dependency cheerio to v1.0.0 (#121)
  bun.lockb
  package.json
  scripts/check-site.ts
Due: biome check --write --no-errors-on-unmatched

docs: changelog of 1.0.0-alpha.2 (#132)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: Bubble support more variant (#140)
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/variant.tsx
  components/bubble/interface.ts
  components/bubble/style/index.ts
  components/bubble/style/variant.ts
  components/prompts/style/index.ts
Due: biome check --write --no-errors-on-unmatched

feat: Bubble support shape (#144)
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/shape.md
  components/bubble/demo/shape.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/content.ts
  components/bubble/style/index.ts
  components/bubble/style/variant.ts
  mako.config.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: Bubble support header & footer (#147)
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/_semantic.tsx
  components/bubble/demo/header-and-footer.md
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: changelog (#148)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  components/bubble/Bubble.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: fix tsc (#149)
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched

chore: fix biome file lint (#150)
  biome.json
Due: biome check --write --no-errors-on-unmatched

refactor: Sender style adjust (#151)
  components/sender/StopLoading.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/index.test.tsx
  components/sender/components/ActionButton.tsx
  components/sender/components/ClearButton.tsx
  components/sender/components/LoadingButton.tsx
  components/sender/components/SendButton.tsx
  components/sender/demo/actions.tsx
  components/sender/demo/basic.tsx
  components/sender/demo/send-style.md
  components/sender/demo/send-style.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: Update README.md (#142)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: tweak demo toggle button style (#146)
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/common/styles/Demo.tsx
Due: biome check --write --no-errors-on-unmatched

feat: Sender support `speech` (#154)
  components/sender/StopLoading.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/components/ActionButton.tsx
  components/sender/components/ClearButton.tsx
  components/sender/components/LoadingButton.tsx
  components/sender/components/SendButton.tsx
  components/sender/components/SpeechButton/RecordingIcon.tsx
  components/sender/components/SpeechButton/index.tsx
  components/sender/demo/speech.md
  components/sender/demo/speech.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/index.ts
  components/sender/useSpeech.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: update group config for Components category. (#155)
  .dumi/theme/themeConfig.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/conversations/index.en-US.md
  components/conversations/index.zh-CN.md
  components/overview/index.en-US.md
  components/overview/index.zh-CN.md
  components/prompts/index.en-US.md
  components/prompts/index.zh-CN.md
  components/sender/index.en-US.md
  components/sender/index.zh-CN.md
  components/suggestion/index.en-US.md
  components/suggestion/index.zh-CN.md
  components/thought-chain/index.en-US.md
  components/thought-chain/index.zh-CN.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.zh-CN.md
  components/useXChat/index.en-US.md
  components/useXChat/index.zh-CN.md
  components/x-provider/index.en-US.md
  components/x-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: Sender support Sender.Header (#156)
  .dumi/components/SemanticPreview.tsx
  components/sender/SenderHeader.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/demo/_semantic.tsx
  components/sender/demo/header.md
  components/sender/demo/header.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/style/header.ts
  components/sender/style/index.ts
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  mako.config.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: changelog of 1.0.0-alpha.4 (#160)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

test: add web streams polyfill. (#161)
  .fatherrc.ts
  bun.lockb
  package.json
  tests/setup-streams.ts
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched

fix: cssVar logic (#163)
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/__tests__/__snapshots__/index.test.tsx.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/suggestion/__tests__/__snapshots__/demo.test.ts.snap
  components/suggestion/__tests__/__snapshots__/index.test.tsx.snap
  components/theme/useToken.ts
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/useXChat/__tests__/__snapshots__/demo.test.ts.snap
  components/x-provider/__tests__/__snapshots__/index.test.tsx.snap
  components/x-provider/__tests__/cssVar.test.tsx
  components/x-provider/__tests__/index.test.tsx
  components/x-provider/hooks/use-x-provider-context.ts
  components/x-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: has cssVar config (#164)
  components/theme/useToken.ts
Due: biome check --write --no-errors-on-unmatched

feat: support loadingRender & rm useless margin (#165)
  components/bubble/Bubble.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/bubble-custom.md
  components/bubble/demo/bubble-custom.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
  components/bubble/style/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: 1.0.0-alpha.5 changelog (#167)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: tmp fix father build
  .fatherrc.ts
  package.json
  scripts/check-repo.ts
Due: biome check --write --no-errors-on-unmatched

feat: New Tools xStream and xRequest (#138)
  bun.lockb
  components/index.ts
  components/useXAgent/demo/preset.md
  components/useXAgent/index.en-US.md
  components/useXAgent/index.ts
  components/useXAgent/index.zh-CN.md
  components/useXAgent/presets/gpt-3.5-turbo.ts
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/demo.test.ts
  components/x-request/__tests__/image.test.ts
  components/x-request/__tests__/index.test.tsx
  components/x-request/__tests__/x-fetch.test.tsx
  components/x-request/demo/basic.md
  components/x-request/demo/basic.tsx
  components/x-request/index.en-US.md
  components/x-request/index.ts
  components/x-request/index.zh-CN.md
  components/x-request/x-fetch.ts
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/demo.test.ts
  components/x-stream/__tests__/image.test.ts
  components/x-stream/__tests__/index.test.tsx
  components/x-stream/demo/custom-protocol.md
  components/x-stream/demo/custom-protocol.tsx
  components/x-stream/demo/default-protocol.md
  components/x-stream/demo/default-protocol.tsx
  components/x-stream/index.en-US.md
  components/x-stream/index.ts
  components/x-stream/index.zh-CN.md
  tests/__snapshots__/index.test.ts.snap
  tests/shared/demoTest.tsx
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: new component Attachments (#168)
  bun.lockb
  components/attachments/DropArea.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/Progress.tsx
  components/attachments/FileList/index.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/__tests__/demo-extend.test.ts
  components/attachments/__tests__/demo.test.tsx
  components/attachments/__tests__/drag.test.tsx
  components/attachments/__tests__/image.test.ts
  components/attachments/__tests__/index.test.tsx
  components/attachments/context.tsx
  components/attachments/demo/_semantic.tsx
  components/attachments/demo/basic.md
  components/attachments/demo/basic.tsx
  components/attachments/demo/overflow.md
  components/attachments/demo/overflow.tsx
  components/attachments/demo/placeholder.md
  components/attachments/demo/placeholder.tsx
  components/attachments/demo/with-sender.md
  components/attachments/demo/with-sender.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/style/index.ts
  components/attachments/util.ts
  components/index.ts
  components/sender/index.tsx
  components/theme/components.ts
  components/x-provider/context.ts
  package.json
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: changelog of 1.0.0-alpha.6 (#169)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  bun.lockb
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: the first upload could not trigger the upload request. (#172)
  bun.lockb
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/index.tsx
  components/suggestion/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/useXAgent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  components/x-stream/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched

docs: changelog of 1.0.0-alpha.7 (#173)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: code error (#174)
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched

fix: Sender.Header can not focus (#175)
  components/sender/__tests__/index.test.tsx
  components/sender/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: changelog of 1.0.0-alpha.9 (#176)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix: attachments drop upload (#178)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  components/attachments/DropArea.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/index.test.tsx.snap
  components/attachments/__tests__/drag.test.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: Welcome 组件 (#179)
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/index.ts
  components/theme/components.ts
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/__tests__/__snapshots__/index.test.tsx.snap
  components/welcome/__tests__/demo-extend.test.ts
  components/welcome/__tests__/demo.test.ts
  components/welcome/__tests__/image.test.ts
  components/welcome/__tests__/index.test.tsx
  components/welcome/demo/_semantic.tsx
  components/welcome/demo/background.md
  components/welcome/demo/background.tsx
  components/welcome/demo/basic.md
  components/welcome/demo/basic.tsx
  components/welcome/demo/variant.md
  components/welcome/demo/variant.tsx
  components/welcome/index.en-US.md
  components/welcome/index.tsx
  components/welcome/index.zh-CN.md
  components/welcome/style/index.ts
  components/x-provider/context.ts
  components/x-provider/index.tsx
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: Update welcome demo (#180)
  components/welcome/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/welcome/__tests__/__snapshots__/demo.test.ts.snap
  components/welcome/demo/background.tsx
Due: biome check --write --no-errors-on-unmatched

feat: Prompts support nest (#181)
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/style/content.ts
  components/prompts/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/prompts/__tests__/__snapshots__/demo.test.ts.snap
  components/prompts/__tests__/__snapshots__/index.test.tsx.snap
  components/prompts/__tests__/index.test.tsx
  components/prompts/demo/_semantic.tsx
  components/prompts/demo/flex-wrap-fixed.md
  components/prompts/demo/flex-wrap-fixed.tsx
  components/prompts/demo/nest.md
  components/prompts/demo/nest.tsx
  components/prompts/index.en-US.md
  components/prompts/index.tsx
  components/prompts/index.zh-CN.md
  components/prompts/interface.ts
  components/prompts/style/index.ts
  components/welcome/style/index.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

Attachments: Support Attachements.FileCard component & customize description (#182)
  components/attachments/FileList/AudioIcon.tsx
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/VideoIcon.tsx
  components/attachments/FileList/index.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/context.tsx
  components/attachments/demo/files.md
  components/attachments/demo/files.tsx
  components/attachments/demo/placeholder.tsx
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/style/fileCard.ts
  components/attachments/style/index.ts
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/list-custom.tsx
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: bump 1.0.0-alpha.11 (#183)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore: adjust script ignore race failed
  scripts/check-repo.ts
Due: biome check --write --no-errors-on-unmatched

feat: Sender support pasteFile (#184)
  components/attachments/FileList/FileListCard.tsx
  components/attachments/PlaceholderUploader.tsx
  components/attachments/SilentUploader.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/attachments/style/fileCard.ts
  components/sender/SenderHeader.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/demo/paste-image.md
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat: Sender allow customize speeching (#187)
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/index.test.tsx
  components/sender/demo/basic.tsx
  components/sender/demo/speech-custom.md
  components/sender/demo/speech-custom.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
  components/sender/useSpeech.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json,css,sh}
  prettier --ignore-unknown --write: any of: *.{md,yml}
