Repository zhangjunjunah/x: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,sh}": ["biome check --write --no-errors-on-unmatched"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

refactor: add _key for MemoBubbleListItem
  components/bubble/BubbleList.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched

feat: Add index to roles function - for BubbleList (#500)
  components/bubble/BubbleList.tsx
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/bubble/demo/debug.tsx
  components/bubble/demo/list.tsx
  components/bubble/hooks/useListData.ts
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

feat(Sender): add files param to the onPasteFile callback (#505)
  components/sender/__tests__/index.test.tsx
  components/sender/demo/paste-image.md
  components/sender/demo/paste-image.tsx
  components/sender/index.en-US.md
  components/sender/index.tsx
  components/sender/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs(attachments): fix typo (#537)
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(attachments): add file-card props description (#538)
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Sender with `actions` missing SpeechButton (#549)
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/demo/actions.tsx
  components/sender/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: correct join us url (#553)
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: Attachments FileList scroll button is not shown (#556)
  components/attachments/FileList/index.tsx
Due: biome check --write --no-errors-on-unmatched

docs: Contributing fix (#578)
  docs/react/contributing.en-US.md
  docs/react/contributing.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

chore :Resolve some issues caused by Test framework upgrades that fail, and update the documentation (#583)
  components/attachments/FileList/AudioIcon.tsx
  components/attachments/FileList/VideoIcon.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/sender/StopLoading.tsx
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/sender/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/components/SpeechButton/RecordingIcon.tsx
  docs/react/contributing.zh-CN.md
  package.json
  tests/utils.tsx
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

fix(Attachments): fix Attachments onRemove no work (#555)
  components/attachments/__tests__/index.test.tsx
  components/attachments/index.tsx
Due: biome check --write --no-errors-on-unmatched

Fix: Resolve dual scrollbar issue and flickering on initial load (#485)
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/demo/infinite-load.tsx
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched

chore: Delete bun.lockb (#584)
  .gitignore
  bun.lockb
  components/bubble/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/bubble/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/conversations/__tests__/__snapshots__/demo.test.ts.snap
  components/conversations/__tests__/__snapshots__/index.test.tsx.snap
  components/sender/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/sender/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/demo.test.ts.snap
  components/thought-chain/__tests__/__snapshots__/index.test.tsx.snap
  components/use-x-agent/__tests__/__snapshots__/demo.test.ts.snap
  components/x-request/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched

Update introduce.zh-CN.md (#585)
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

chore: Delete .github/workflows/dependabot-bun.yml (#587)
  .github/workflows/dependabot-bun.yml
Due: prettier --ignore-unknown --write

📝 docs: changelog of 1.0.6 (#600)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: gpt vis to render charts (#603)
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: peerdep antd version needs to be greater than 5.20.3 because of use theme token (#611)
  package.json
Due: biome check --write --no-errors-on-unmatched

feat: attachments增加图片属性 (#613)
  components/attachments/FileList/FileListCard.tsx
  components/attachments/FileList/index.tsx
  components/attachments/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/attachments/__tests__/__snapshots__/demo.test.tsx.snap
  components/attachments/index.en-US.md
  components/attachments/index.tsx
  components/attachments/index.zh-CN.md
  components/conversations/demo/with-menu.tsx
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

docs: update Attachments docs (#608)
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: extend SenderProps to include onFocus and onBlur events (#625)
  components/sender/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: Add Chinese and English pull request templates (#626)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE_CN.md
Due: prettier --ignore-unknown --write

fix(thought-chain): controlled mode not working
  components/thought-chain/__tests__/index.test.tsx
  components/thought-chain/hooks/useCollapsible.ts
Due: biome check --write --no-errors-on-unmatched

docs: fix attachments docs (#619)
  components/attachments/index.en-US.md
  components/attachments/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(bubble): 支持 Bubble 组件的 footer 属性接收函数
  components/bubble/Bubble.tsx
  components/bubble/__tests__/index.test.tsx
  components/bubble/demo/header-and-footer.tsx
  components/bubble/index.en-US.md
  components/bubble/index.zh-CN.md
  components/bubble/interface.ts
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

build: 修改 npm 发布配置- 将发布配置中的 registry从 npmjs.org 更改为 GitHub 的 npm 仓库
  .github/workflows/publish.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --ignore-unknown --write

ci:移除现有工作流并添加新的发布工作流
  .github/workflows/main.yml
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-start.yml
  .github/workflows/publish.yml
  .github/workflows/release-dingtalk.yml
  .github/workflows/release-x.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

chore: 更新 .gitignore 文件
  .gitignore
  package-lock.json
Due: biome check --write --no-errors-on-unmatched

build(deps): 添加 esbuild依赖
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched

build(deps): 添加 esbuild依赖
  package-lock.json
Due: biome check --write --no-errors-on-unmatched

build: 更新项目版本号和仓库链接
  package.json
Due: biome check --write --no-errors-on-unmatched

refactor(scripts): 注释掉非主分支检查逻辑
  scripts/check-repo.ts
Due: biome check --write --no-errors-on-unmatched

chore(scripts): 暂时注释掉远程分支检查逻辑
  scripts/check-repo.ts
Due: biome check --write --no-errors-on-unmatched
